tqdm~=4.43.0
requests~=2.23.0
python-libtorrent-bin==1.2.12
pyperclip~=1.8.2
numpy~=1.21.1
pyautogui~=0.9.53
urllib3
moviepy~=1.0.3
bs4~=0.0.1
lxml
schedule~=1.1.0
opencv-python~=4.5.3.56
future~=0.18.2
Pillow~=7.0.0
DateTime~=4.3
beautifulsoup4~=4.9.3
pytest
setuptools~=45.2.0
youtube_dl==2020.12.14